{% extends "main.html" %}

{% block content %}
<!-- work in wikis {'wikipedia': ['ar'], 'wikisource': ['ar']} -->

{% if not pages_list %}
<div class="card card_form">
    <div class="card-header text-center py-3">
        <h4 class="card-title mb-0 d-flex align-items-center justify-content-center">
            <span tt='sites_list_title'></span>
        </h4>
    </div>
    <div class="card-body p-4">
        <ul class="list-group list-group-numbered">
            {% for wiki in wikis %}
            {% for lang in wikis[wiki] %}
            {% set wiki_url = lang + "." + wiki + ".org" %}
            <a href="/pages?lang={{ lang }}&project={{ wiki }}" class="list-group-item list-group-item-action"
                aria-current="true">
                {{ wiki_url }}
            </a>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
{% set project_url = lang + "." + project + ".org" %}
<div class="mb-3">
    <h4 class="card-title mb-0 d-flex align-items-center justify-content-center">
        <a href="https://petscan.wmcloud.org/?doit=Do_it&templates_any=petscan+list&project={{ project }}&language={{ lang }}"
            target="_blank" class="me-2 ms-2">{{ project_url }}</a>
    </h4>
</div>
{% for ns in pages_list %}
{% set pages_count = pages_list[ns]|length %}
<div class="card card_form mb-3">
    <div class="card-header text-center">
        <h4 class="card-title mb-0 d-flex align-items-center justify-content-center">
            {{ ns }} ({{ pages_count }})
        </h4>
    </div>
    <div class="card-body p-4">
        <ul class="list-group">
            {% for page in pages_list[ns] %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <a class="me-2" href="https://{{ project_url }}/wiki/{{ page }}">{{ page }}</a>
                <!-- <span class="badge bg-secondary rounded-pill" tt="update_word"></span> -->
                <a class="btn btn-outline-primary btn-md border-1"
                    href="{{ url_for('update', wiki=project_url, title=page) }}" target="_blank">
                    <small tt="update_word"></small>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}
