{% extends "main.html" %}

{% block title %}القالب!{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header text-white text-center py-2">
        <h4 class="card-title">
            القالب:
        </h4>
    </div>
    <div class="card-body p-4">

        <div class="input-group mb-3">
            <textarea class="form-control" rows="1" style="text-align: left; direction: ltr">{{ url }}</textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="copyText()">
                    <i class="fas fa-copy"></i> نسخ
                </button>
            </div>
            <textarea class="form-control" rows="8" id="result"
                style="text-align: left; direction: ltr">{{ result }}</textarea>
        </div>
        <script>
            function copyText() {
                var copyText = document.querySelector('#result');
                copyText.select();
                document.execCommand('copy');
            }
        </script>
    </div>
</div>
{% endblock %}
