{% extends "main.html" %}

{% block title %}
<title tt='how_to_use'></title>
{% endblock %}

{% block content2 %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card card_form">
                <div class="card-header text-center">
                    <h2 class="card-title mb-0 d-flex align-items-center justify-content-center">
                        <span class="tool_icon me-2"></span>
                        <p tt='how_to_use'></p>
                    </h2>
                </div>
                <div class="card-body p-4">
                    <table class="wikitable">
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="figure">
                                        <img class="figure-img img-fluid rounded"
                                            src="https://upload.wikimedia.org/wikipedia/ar/e/ea/PetScan_screenshot.png"
                                            width="440" height="149" />
                                        <figcaption class="figure-caption">
                                            <ol>
                                                <li>انتقل إلى أداة <b><a rel="nofollow" class="external text"
                                                            href="https://petscan.wmcloud.org">PetScan</a></b> للحصول
                                                    على أي
                                                    نتيجة</li>
                                                <li>نفذ الطلب عبر النقر على زر "<span style="color:#0000FF">Do
                                                        it!</span>" أو
                                                    "<span style="color:#0000FF">نفذ!</span>"</li>
                                                <li>انسخ الرابط الموجود في وصلة "<span
                                                        style="color:#0000FF">without</span>" أو
                                                    "<span style="color:#0000FF">بدون تشغيل تلقائي</span>" أو "<span
                                                        style="color:#0000FF">PSID</span>"
                                                </li>
                                            </ol>
                                        </figcaption>
                                    </figure>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="figure">
                                        <img src="https://upload.wikimedia.org/wikipedia/ar/3/39/Petscan_list_tool_1.png"
                                            width="350" height="206" class="figure-img img-fluid rounded">
                                        <figcaption class="figure-caption">

                                            اذهب إلى <a class="external text"
                                                href="https://petscan-list.toolforge.org/template">صفحة
                                                مساعد
                                                إنشاء القالب!</a> في أداة <b>PetScan-list</b> لإنشاء نص القالب.
                                        </figcaption>
                                    </figure>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="figure">
                                        <img src="https://upload.wikimedia.org/wikipedia/ar/3/3a/Petscan_list_tool_2.png"
                                            width="350" height="219" class="figure-img img-fluid rounded">
                                        <figcaption class="figure-caption">

                                            انسخ النتيجة وضعها في أي صفحة <big><b>فارغة</b></big>.<br /><span
                                                style="color:#cc0000">أي
                                                محتوى
                                                آخر
                                                في الصفحة سيزيله البوت</span>
                                        </figcaption>
                                    </figure>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-center py-3">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
